
.colorNav {
    background: rgb(39, 15, 65) ;
    filter: brightness(70%);
}

.videoInicio {
    width: 100%;
    min-height: 500px;
}

main {
    background-color: black;
}

.altBannerPelis {
    height: 560px;
}

.botonesInicio {
    background: rgb(60, 103, 243) ;
    filter: saturate(80);
    color: white;
}